In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seabornInstance
from datetime import datetime, timedelta

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

dataset = pd.read_csv('AAPL.csv')
# converts string to datetime
dataset['Date'] = pd.to_datetime(dataset.Date, format='%Y-%m-%d')
# ser the index of dataset to date column
dataset = dataset.set_index('Date')
dataset = dataset.dropna()

In [10]:
dataset.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-09-04,228.410004,229.179993,226.630005,228.360001,224.870499,27390100
2018-09-05,228.990005,229.669998,225.100006,226.869995,223.403275,33333000
2018-09-06,226.229996,227.350006,221.300003,223.100006,219.690903,34290000
2018-09-07,221.850006,225.369995,220.710007,221.300003,217.918411,37619800
2018-09-10,220.949997,221.850006,216.470001,218.330002,214.993759,39516500

In [11]:
# number of how many days to forecast
forecast_out = 90
dataset['Prediction'] = dataset['Adj Close'].shift(-forecast_out)

In [12]:
dataset.head()

,Open,High,Low,Close,Adj Close,Volume,Prediction
Date,,,,,,,
2018-09-04,228.410004,229.179993,226.630005,228.360001,224.870499,27390100,148.223282
2018-09-05,228.990005,229.669998,225.100006,226.869995,223.403275,33333000,151.256927
2018-09-06,226.229996,227.350006,221.300003,223.100006,219.690903,34290000,153.104782
2018-09-07,221.850006,225.369995,220.710007,221.300003,217.918411,37619800,154.013885
2018-09-10,220.949997,221.850006,216.470001,218.330002,214.993759,39516500,154.962494